.matrix-cell:hover {
    cursor: default;
}

.name-column--header {
    background-color: white;
    position: absolute;
    width: 200px;
}

.name-column--data {
    background-color: white;
    position: absolute;
    min-width: 200px;
}

.hidden-column--header {
    width: 200px;
}

.hidden-column--data {
    min-width: 200px;
}
