.handle-marker {
    position: absolute;
    margin-left: -11px;
    margin-top: -6px;
    z-index: 2;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #34568f;
}