.point-deductions {
    color: red;
    margin: 0;
}

.point-deductions-container {
    margin-bottom: 1rem;
}

.league-table {
    margin-right: 100px;
}

.league-table--row:hover {
    cursor: pointer;
    background-color: #ededed !important;
}