.playoff-container {
    display: flex;
    height: 250px;
}

.playoff-semifinal-container {
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.playoff-final-container {
    align-items: center;
    display: flex;
}
